.dashboard__container main {
  display: flex;
  flex-grow: 1;
  overflow-y: auto;
  padding-left: 300px;
}

.dashboard__section {
  margin: 25px 50px;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  flex-grow: 1;
  gap: 30px;
}

.dashboard__sub-container-1 {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.dashboard__announcement {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  height: 200px;
  padding: 20px;
  border-radius: 20px;
  background-color: #e5e5e5;
}

.dashboard__pie-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #e5e5e5;
  width: 300px;
  height: 200px;
  flex-shrink: 0;
}

.dashboard__sub-container-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  background-color: #e5e5e5;
}

.dashboard__table-heading,
.dashboard__table-content,
.dashboard__table-content-data {
  display: flex;
}

.dashboard__table-content {
  flex-direction: column;
  gap: 0;
}
