.login__section {
  display: flex;
}

/* Form Container */
.login__form-container {
  display: flex;
  justify-content: center;
  flex: 1.5;
  height: 100vh;
  transition: transform 0.6s ease;
  z-index: 2;
}

.login__form-container.shift-right {
  transform: translateX(100%);
}

/* Image Container */
.login__image-container {
  flex: 2;
  background: url("/assets/LoginSidePhoto.png") center/cover no-repeat;
  transition: transform 0.6s ease;
  z-index: 1;
}

.login__image-container.shift-left {
  transform: translateX(-100%);
}

/* Logo */
.login__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.login__logo img {
  width: 55px;
}

.login__logo p {
  font-size: 1.4rem;
  font-weight: 500;
}

/* Sub Container */
.login__form-sub {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Center Div */
.login__center-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 30px;
}

.login__center-div .login__login-text {
  font-size: 1.2rem;
}

/* Error Message */
.login__error {
  color: red;
}

/* Form */
.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  gap: 20px;
}

.login-input-form {
  width: 350px;
  height: 42px;
  padding: 15px;
  border: 2px solid #000;
  border-radius: 50px;
  background-color: #e5e5e5;
}

.login__form-account-info {
  display: flex;
  justify-content: space-between;
  width: 350px;
}

.login__form-account-info label {
  display: flex;
  gap: 2px;
}

.login__form-account-info a {
  text-decoration: none;
  font-weight: 500;
  color: #000;
}

.login__form button,
.login__form.login__signup-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 42px;
  margin: 0;
  border: 2px solid #000;
  border-radius: 599px;
  background-color: #fff;
  font-weight: 500;
  outline: none;
}

/* Gender & DOB */
.gender-dob {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
}

.gender-container,
.login-dob-form {
  height: 40px;
  padding: 15px;
  border: 2px solid #000;
  border-radius: 599px;
  background-color: #e5e5e5;
}

.gender-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

/* Hover Effects & Misc */
.login__form button:hover,
.login__form label input:hover,
.login__account-info {
  cursor: pointer;
}

.login__form-container .developer-of-web {
  font-size: 0.7rem;
  margin-bottom: 10px;
}

.login__account-info span {
  font-weight: 500;
}
