.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.bold {
  font-weight: bold;
}

.semi-bold {
  font-weight: 500;
}

.ellipsis {
  white-space: nowrap; /* Prevent the text from wrapping */
  overflow: hidden; /* Hide the overflowing text */
  text-overflow: ellipsis; /* Add the ellipsis (...) */
}
